@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ervho9');
  src:  url('fonts/icomoon.eot?ervho9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ervho9') format('truetype'),
    url('fonts/icomoon.woff?ervho9') format('woff'),
    url('fonts/icomoon.svg?ervho9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
