=font-face($woff2, $woff, $ttf, $weight, $style)
  @font-face
      font-family: "Public Sans webfont"
      src: url($woff2) format('woff2'), url($woff) format('woff'), url($ttf) format('truetype')
      font-weight: $weight
      font-style: $style

+font-face('/static/webfonts/PublicSans-Black.woff2', '/static/webfonts/PublicSans-Black.woff', '/static/webfonts/PublicSans-Black.ttf', 900, normal)



@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-BlackItalic.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-BlackItalic.woff') format('woff'),
         url('/static/webfonts/PublicSans-BlackItalic.ttf') format('truetype')
    font-weight: 900
    font-style: italic


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-Bold.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-Bold.woff') format('woff'),
         url('/static/webfonts/PublicSans-Bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-BoldItalic.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-BoldItalic.woff') format('woff'),
         url('/static/webfonts/PublicSans-BoldItalic.ttf') format('truetype')
    font-weight: 700
    font-style: italic


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-ExtraBold.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-ExtraBold.woff') format('woff'),
         url('/static/webfonts/PublicSans-ExtraBold.ttf') format('truetype')
    font-weight: 800
    font-style: normal


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-ExtraBoldItalic.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-ExtraBoldItalic.woff') format('woff'),
         url('/static/webfonts/PublicSans-ExtraBoldItalic.ttf') format('truetype')
    font-weight: 800
    font-style: italic


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-Medium.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-Medium.woff') format('woff'),
         url('/static/webfonts/PublicSans-Medium.ttf') format('truetype')
    font-weight: 500
    font-style: normal


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-MediumItalic.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-MediumItalic.woff') format('woff'),
         url('/static/webfonts/PublicSans-MediumItalic.ttf') format('truetype')
    font-weight: 500
    font-style: italic


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-SemiBold.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-SemiBold.woff') format('woff'),
         url('/static/webfonts/PublicSans-SemiBold.ttf') format('truetype')
    font-weight: 600
    font-style: normal


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-SemiBoldItalic.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-SemiBoldItalic.woff') format('woff'),
         url('/static/webfonts/PublicSans-SemiBoldItalic.ttf') format('truetype')
    font-weight: 600
    font-style: italic


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-ExtraLight.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-ExtraLight.woff') format('woff'),
         url('/static/webfonts/PublicSans-ExtraLight.ttf') format('truetype')
    font-weight: 200
    font-style: normal


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-ExtraLightItalic.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-ExtraLightItalic.woff') format('woff'),
         url('/static/webfonts/PublicSans-ExtraLightItalic.ttf') format('truetype')
    font-weight: 200
    font-style: italic


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-Light.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-Light.woff') format('woff'),
         url('/static/webfonts/PublicSans-Light.ttf') format('truetype')
    font-weight: 300
    font-style: normal


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-LightItalic.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-LightItalic.woff') format('woff'),
         url('/static/webfonts/PublicSans-LightItalic.ttf') format('truetype')
    font-weight: 300
    font-style: italic


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-Regular.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-Regular.woff') format('woff'),
         url('/static/webfonts/PublicSans-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-Italic.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-Italic.woff') format('woff'),
         url('/static/webfonts/PublicSans-Italic.ttf') format('truetype')
    font-weight: 400
    font-style: italic


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-Thin.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-Thin.woff') format('woff'),
         url('/static/webfonts/PublicSans-Thin.ttf') format('truetype')
    font-weight: 100
    font-style: normal


@font-face
    font-family: "Public Sans webfont"
    src: url('/static/webfonts/PublicSans-ThinItalic.woff2') format('woff2'),
         url('/static/webfonts/PublicSans-ThinItalic.woff') format('woff'),
         url('/static/webfonts/PublicSans-ThinItalic.ttf') format('truetype')
    font-weight: 100
    font-style: italic
