@import "variables.sass"

*
  font-family: $font-public
  line-height: 1.1rem


.text-centered
  display: flex
  justify-content: center
  align-items: center

.text-white
  color: #fff !important

.to-right
  float: right !important

.to-left
  float: left !important
