@import "variables.sass"
@import url('https://fonts.googleapis.com/css?family=Monoton')
@import url('https://fonts.googleapis.com/css?family=Inconsolata')
@import url('https://fonts.googleapis.com/css?family=Norican')

*
  font-family: $font-public


.text-centered
  display: flex
  justify-content: center
  align-items: center

.text-white
  color: #fff !important

.navbar-link:hover, .link:hover
  color: $secondary
