@import url('https://fonts.googleapis.com/css?family=Monoton')

//*** Variables ***//
$primary: #ee3e67
$secondary: #6f3766
$tertiary: #5e5ca8

*
  font-family: "Public Sans webfont"
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transition: all .2s linear

.v-centered
	display: flex
	align-items: center

.text-center
  text-align: center
