@font-face {
  font-family: 'icomoon';
  src:  url('/static/fonts/icomoon.eot?17jh2p');
  src:  url('/static/fonts/icomoon.eot?17jh2p#iefix') format('embedded-opentype'),
    url('/static/fonts/icomoon.ttf?17jh2p') format('truetype'),
    url('/static/fonts/icomoon.woff?17jh2p') format('woff'),
    url('/static/fonts/icomoon.svg?17jh2p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e9da";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
